 <!-- end page content -->
 <div class="page-content-wrapper">
    <div class="page-content">
      
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-itms-center">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar">
                    <div class="card card-topline-aqua">
                        <div class="card-body no-padding height-9">
                            <div class="row">
                                <div class="profile-userpic">
                                    <img src="assets/img/dp.jpg" class="img-responsive" alt=""> </div>
                            </div>
                        
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Nom</b> <a class="pull-right">{{user.nom}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Prenom</b> <a class="pull-right">{{user.prenom}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Adresse</b> <a class="pull-right">{{user.adresse}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Email</b> <a class="pull-right">{{user.email}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Login</b> <a class="pull-right">{{user.login}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Telephone</b> <a class="pull-right">{{user.telephone}}</a>
                                </li>
                            </ul>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                           
                            <!-- END SIDEBAR BUTTONS -->
                        </div>
                    </div>
                    
                    </div>
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
            
    
                                        
                    <!-- END PROFILE CONTENT -->
                </div>
            </div>
        </div>
    <!-- end page content -->
