




			<!-- start page content -->
<div class="page-content-wrapper">
	<div class="page-content">
                  
<!--------------------------------------------- Contener de detail admin -------------------------------->
	<div class="row justify-content-center">
		<div class="col-md-6">
            <div class="card card-box">
                <div class="card-head">
                    <header>Information de  {{detailAdmin.nom}} {{detailAdmin.prenom}}</header>
                    <div class="tools">
                        <!-- <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a> -->
						<a class="t-close btn-danger fa fa-times " href="/listAdmins"></a>
                        <!-- <a class="t-close btn-color fa fa-times" href="javascript:;"></a> -->
                    </div>
                </div>
                <div class="card-body ">

                    <div class="card card-topline-aqua">
                        <div class="card-body no-padding height-9">
                    
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name"> {{detailAdmin.nom}} {{detailAdmin.prenom}} </div>
                        
                            </div>
                            <ul class="list-group list-group-unbordered" >
                                <li class="list-group-item">
                                    <b>Adresse</b> <a class="pull-right">{{detailAdmin.adresse}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Email  </b> <a class="pull-right">{{detailAdmin.email}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Etat </b> <a class="pull-right">{{detailAdmin.etat}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Login</b> <a class="pull-right">{{detailAdmin.login}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Mot de Passe</b> <a class="pull-right">{{detailAdmin.motDePass}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Téléphone</b> <a class="pull-right">{{detailAdmin.telephone}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Date de Création</b> <a class="pull-right">{{detailAdmin.dateCreation}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Date de Modification</b> <a class="pull-right">{{detailAdmin.dateModification}}</a>
                                </li>
								<li class="list-group-item">
                                    <b>Profile</b> <a class="pull-right">{{detailAdmin.profile.libelle}}</a>
                                </li>
                            </ul>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            
                            <!-- END SIDEBAR BUTTONS -->
                        </div>
                </div>
            </div>
        </div>
 <!-- end page content -->
          

