.card:hover{
    cursor: pointer;
    }
 input{
        width: 130px;
        

    }
    
    @media  print {
        .etat, .action, .col-lg-3, .md-form, .head,  .col-md-6 {
            visibility: hidden;
        }
    }
    .panel-body1{
        float: right;
        padding-right: 30px;
        padding-bottom: 35px;

    }
    .button{
        margin-left: 10px;
    }
    .panel-body:hover{
        background-color: rgb(240, 203, 136);
    }
    .panel-body1:hover{
        background-color: rgb(240, 203, 136);
    }