<!-- start page content -->
<div class="page-content-wrapper">

	<div class="page-content">
		<div class="row justify-content-center">
			<!-- <div class="col-lg-3 col-md-6 col-sm-12 col-12">
										<div class="card" >
										   <a><div class="panel-body">
												<h3 routerLink="/listAdmins">Administrateurs</h3>
												<div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope active">
													<div class="progress-bar progress-bar-green width-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="text-small margin-top-10 full-width"></span> </div>
											</a> 
										</div>
									</div> -->
			<div class="col-lg-3 col-md-6 col-sm-12 col-12">

				<div class="card" (click)="listerPointage()">
					<div class="panel-body1">
						<h3> Tous les pointages</h3>
						
						<span class="text-small margin-top-10 full-width"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-12">

				<div class="card">
					<div class="panel-body">
						<h3> Liste par jour</h3>

						<input type="date" [(ngModel)]="date" name="date">
						<button class="button" (click)="listJour(date)">Valider</button> <br>
						

						<span class="text-small margin-top-10 full-width"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-12">

				<div class="card">
					<div class="panel-body">
						<h3>Liste par semaine</h3>
						<input type="date" [(ngModel)]="date" name="date">
						<button class="button" (click)="listSemaine(date)">Valider</button> <br>
					
						<span class="text-small margin-top-10 full-width"></span>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 col-12">
				<div class="card ">
					<div class="panel-body">
						<h3>Liste par mois</h3>
						<input type="date" [(ngModel)]="date" name="date">
						<button class="button" (click)="listMois(date)">Valider</button> <br>
						
						<span class="text-small margin-top-10 full-width"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-12">
				<div class="card-body ">
					<div class="card-body ">
						<div class="row p-b-20">
							<div class="col-md-6 col-sm-6 col-6">
							</div>
							<div class="col-md-6 col-sm-6 col-6">
								<div class="btn-group pull-right">
									<a class="btn btn-warning  btn-outline dropdown-toggle"
                                         data-toggle="dropdown">Exporter
                                        <i class="fa fa-angle-down"></i>
                                    </a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a onclick="window.print()">
												<i class="fa fa-print"></i> Imprimer </a>
										</li>
										<li>
											<a (click)="downloadPdf()">
												<i class="fa fa-file-pdf-o"></i> Exporter en PDF </a>
										</li>
										<li>
											<a (click)="exportexcel()">
												<i class="fa fa-file-excel-o"></i> Exporter en Excel </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-head">

							<div class="tools expand-full">
								<!-- Search form -->
								<div class="md-form mt-0">
									<input class="form-control mr-sm-2 justify-content-end" type="text"
										[(ngModel)]="searchText" autocomplete="off" placeholder="Search">
								</div>
							</div>
						</div>
						<div class="table-scrollable">
							<pagination-controls (pageChange)="p = $event"></pagination-controls>
							<header style="text-align: center;">Liste des pointages</header>
							<table class="table table-hover table-checkable order-column full-width" id="example4">
								<thead>
									<tr>
										<th class="center"></th>
										<!-- <th class="center"> Date </th> -->
										<th class="center"> date </th>
										<th class="center"> Heure d'arrivée </th>
										<th class="center"> Heure de Depart </th>
										<th class="center">Nom de l'utilisateur </th>

									</tr>
								</thead>
								<tbody>
									<tr class="odd gradeX" *ngFor="let Pointage of listPointage | filter:searchText | paginate : {itemsPerPage : 5, currentPage: p}">
										<td class="user-circle-img">
											<img src="../../../assets/images/odk_icon.png" width="50px" alt="">
										</td>
										<td class="center"><span
												routerLink="/detailPointage/{{Pointage.id}}">{{Pointage.date}}</span>
										</td>
										<td class="center"><span
												routerLink="/detailPointage/{{Pointage.id}}">{{Pointage.heureArrivee}}</span>
										</td>
										<td class="center"><span
												routerLink="/detailPointage/{{Pointage.id}}">{{Pointage.heureDepart}}</span>
										</td>

										<td class="center"><span
												routerLink="/detailPointage/{{Pointage.id}}">{{Pointage.utilisateur.nom}}</span>
										</td>
										<!-- <td class="center"><span routerLink="/detailPointage/{{Pointage.id}}">{{Pointage.email}}</span></td>
															<td class="center"><span routerLink="/detailPointage/{{Pointage.id}}">{{admin.profile.libelle}}</span></td>  -->
										<!-- <td class="center">
																<span class="label label-sm label-success">{{admin.etat}} </span>
															</td>
															<td class="center">
																<a  class="btn btn-tbl-edit btn-xs" routerLink="/updateAdmin/{{admin.id}}">
																	<i class="fa fa-pencil"></i>
																</a>
																<button class="btn btn-tbl-delete btn-xs" (click)="deleteAdmin(admin.id)">
																	<i class="fa fa-trash-o "></i>
																</button>
															</td> -->
									</tr>



									<script>
										function printContent(el) {
											var restorepage = document.body.innerHTML;
											var printcontent = document.getElementById(el).innerHTML;
											document.body.innerHTML = printcontent;
											window.print();
											document.body.innerHTML = restorepage;
										}
									</script>

								</tbody>
							</table>



						</div>

					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- end page content -->
</div>